/* Add a black background color to the top navigation */
.topnav {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #393939;
  overflow: hidden;
  font-family: Lato-Bold;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00ad5f;
  color: white;
}

.bg-image {
  /* The image used */
  background-image: url("../images/background.jpg");
  z-index: -1;
  /* Add the blur effect */
  /*filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#form-div {
  display: flex;
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  margin: 50px auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#form-div.highlight {
  border-color: #00ad5f;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  padding: 5px;
  cursor: pointer;
  font-family: Lato-Regular;
  color: white;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: #393939;
}

input[type=submit] {
  background-color: #00ad5f;
  border: none;
  color: #fff;
  font-family: Lato-Regular;
  padding: 5px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ddd;
  color: black;
}

.title-text {
  font-family: Lato-Bold;
  color: white;
  font-size: 30;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
}

#topcontent {
  display: flex;
  flex-direction: column;
}